<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TREX.DAL.Properties.Settings.connectionString" connectionString="Data Source=NB25\SQLEXPRESS;Initial Catalog=TREX_DEV;Persist Security Info=True;User ID=sa;Password=root"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>